<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


  <properties resource="com/practice/jdbc.properties">
    <property name="key2url" value="jdbc:mysql://192.168.6.4:3306/mybtais-test"/>
  </properties>

  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="lazyLoadingEnabled" value="true"/>
    <setting name="autoMappingBehavior" value="PARTIAL"/>
  </settings>

  <typeAliases>
<!--    <typeAlias alias="student" type="com.practice.bean.Student"/>-->
    <package name="com.practice.bean"/>
  </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
            </transactionManager>
            <dataSource type="UNPOOLED">
              <property name="driver" value="${key1driver}"/>
              <property name="url" value="${key2url}"/>
              <property name="username" value="root"/>
              <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
  <mappers>
    <mapper resource="com/practice/mapper/StudentMapper.xml"></mapper>
    <mapper resource="com/practice/mapper/BlogMapper.xml"></mapper>
    <mapper resource="com/practice/mapper/AutherMapper.xml"></mapper>
  </mappers>
</configuration>
